* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: url("https://img.freepik.com/free-photo/a-painting-of-a-mountain-lake-with-a-mountain-in-the-background_188544-9126.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1696291200&semt=ais") no-repeat center center fixed;
    background-size: cover;
}
